<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reservas / Admin</title>
    <link rel="icon" href="/img/logo-main-carwashmetro.png" type="image/png" />

    <!-- Links CSS -->
    <%- include('../templates/styles') %>
  </head>

  <body class="vh-100">
    <div class="container-fluid p-0 m-0 d-flex flex-column h-100">
      <!-- El estilo "display: flex; flex-direction: column; height: 100%;" establece el contenedor padre como flexbox con dirección de columna y altura del 100% -->
      <%- include('views/templates/headerAdmin') %>

      <!-- contenedor principal -->

      <main
        class="container-fluid p-5 gap-6 w-75 d-flex flex-column justify-content-center align-items-center media-sm-w-100"
        style="flex: 1">
        <!-- Historial de reservas pendientes -->

        <div class="container-fluid p-0">
          <div class="row mb-5">
            <h2 class="text-center rem-2-2 weight-700 opacity-75">
              Reservas pendientes
            </h2>
          </div>

          <% const reservasPendientes = todasLasReservas.filter(reserva =>
          reserva.estado_reserva === 'Pendiente'); %> <% if
          (reservasPendientes.length > 0) { %> <%
          reservasPendientes.forEach(reserva => { %>
          <div
            class="row container-secondary border-primary p-4 mt-4 flex-column flex-lg-row gap-4 gap-lg-0">
            <div class="col-12 col-lg-3 p-0 d-flex align-items-center">
              <div
                title="Fecha y hora en la que se hizo la reserva"
                class="d-flex align-items-center">
                <div class="icon-container">
                  <i class="material-icons"> watch_later </i>
                </div>
                <h3 class="ms-3 opacity-75 font-secondary">
                  <%= formatDateTime(reserva.fecha_reserva) %>
                </h3>
              </div>
            </div>

            <div class="col-12 col-lg-2 p-0 d-flex align-items-center">
              <div class="d-flex align-items-center">
                <div
                  title="Tipo de vehículo con el que se hizo la reserva"
                  class="icon-container">
                  <i class="material-icons">
                    <%= reserva.tipo_vehiculo === 'Carro' ? 'directions_car' :
                    (reserva.tipo_vehiculo === 'Moto' ? 'two_wheeler' :
                    'airport_shuttle') %>
                  </i>
                </div>
                <h3
                  title="Placa del vehículo"
                  class="ms-3 opacity-75 font-secondary">
                  <%= reserva.placa_vehiculo %>
                </h3>
              </div>
            </div>

            <div class="col-12 col-lg-2 p-0 d-flex align-items-center">
              <div
                title="Número de celda asignada"
                class="d-flex align-items-center">
                <div class="icon-container">
                  <i class="material-icons"> warehouse </i>
                </div>
                <h3 class="ms-3 opacity-75 font-secondary">
                  #<%= reserva.id_celda %>
                </h3>
              </div>
            </div>

            <div class="col-12 col-lg-2 p-0 d-flex align-items-center pe-4">
              <div title="Nombre del cliente" class="d-flex align-items-center">
                <div class="icon-container">
                  <i class="material-icons"> person </i>
                </div>
                <h3 class="ms-3 opacity-75">
                  <%= reserva.nombre && reserva.apellido ? reserva.nombre + ' '
                  + reserva.apellido : 'Usuario no encontrado' %>
                </h3>
              </div>
            </div>

            <div
              class="col-12 col-lg-3 p-0 d-flex align-items-center d-flex justify-content-center">
              <!-- contenedor de formularios de los botones aceptar o cancelar -->

              <div class="w-50">
                <form
                  action="/admin/reservas/actualizarEstado/<%= reserva.id_reserva %>"
                  method="post">
                  <input type="hidden" name="estado" value="Rechazada" />
                  <button
                    title="Rechazar esta reserva"
                    class="button-danger-primary w-100 p-2 d-flex align-items-center justify-content-center"
                    type="submit">
                    <i class="material-icons me-1"> delete_forever </i>
                    Rechazar
                  </button>
                </form>
              </div>
              <div class="w-50 ms-3">
                <form
                  action="/admin/reservas/actualizarEstado/<%= reserva.id_reserva %>"
                  method="post">
                  <input type="hidden" name="estado" value="Aceptada" />
                  <button
                    title="Aceptar esta reserva"
                    class="button-primary w-100 p-2 d-flex align-items-center justify-content-center"
                    type="submit">
                    <i class="material-icons me-2"> event_available </i>
                    Aceptar
                  </button>
                </form>
              </div>
            </div>
          </div>
          <% }); %> <% } else { %>
          <!-- Diseño en caso de que no hayan reservas en estado pendiente -->
          <div
            class="col-12 d-flex justify-content-center flex-column align-items-center mt-5">
            <p class="text-center d-flex rem-2 opacity-25">
              No hay reservas pendientes en este momento...
            </p>
            <i class="material-icons rem-10 mt-4 opacity-25"> check_circle </i>
          </div>
          <% } %>
        </div>

        <div class="container-fluid p-0">
          <div class="row mb-5">
            <h2 class="text-center rem-2-2 weight-700 opacity-75">
              Historial de reservas
            </h2>
          </div>

          <% const historialReservas = todasLasReservas.filter(reserva =>
          reserva.estado_reserva === 'Cancelada' || reserva.estado_reserva ===
          'Aceptada' || reserva.estado_reserva === 'Rechazada' ); %> <% if
          (historialReservas.length > 0) { %> <%
          historialReservas.forEach(reserva => { %>
          <div
            class="row container-secondary border-primary p-4 mt-4 flex-column flex-lg-row gap-4 gap-lg-0">
            <div class="col-12 col-lg-3 p-0 d-flex align-items-center">
              <div
                title="Fecha y hora en la que se hizo la reserva"
                class="d-flex align-items-center">
                <div class="icon-container">
                  <i class="material-icons"> watch_later </i>
                </div>
                <h3 class="ms-3 opacity-75 font-secondary">
                  <%= formatDateTime(reserva.fecha_reserva) %>
                </h3>
              </div>
            </div>

            <div class="col-12 col-lg-2 p-0 d-flex align-items-center">
              <div class="d-flex align-items-center">
                <div
                  title="Tipo de vehículo con el que se hizo la reserva"
                  class="icon-container">
                  <i class="material-icons">
                    <%= reserva.tipo_vehiculo === 'Carro' ? 'directions_car' :
                    (reserva.tipo_vehiculo === 'Moto' ? 'two_wheeler' :
                    'airport_shuttle') %>
                  </i>
                </div>
                <h3
                  title="Placa del vehículo"
                  class="ms-3 opacity-75 font-secondary">
                  <%= reserva.placa_vehiculo %>
                </h3>
              </div>
            </div>

            <div class="col-12 col-lg-2 p-0 d-flex align-items-center">
              <div
                title="Número de celda asignada"
                class="d-flex align-items-center">
                <div class="icon-container">
                  <i class="material-icons"> warehouse </i>
                </div>
                <h3 class="ms-3 opacity-75 font-secondary">
                  #<%= reserva.id_celda %>
                </h3>
              </div>
            </div>

            <div class="col-12 col-lg-2 p-0 d-flex align-items-center pe-3">
              <div title="Nombre del cliente" class="d-flex align-items-center">
                <div class="icon-container">
                  <i class="material-icons"> person </i>
                </div>
                <h3 class="ms-3 opacity-75 pe-4">
                  <%= reserva.nombre && reserva.apellido ? reserva.nombre + ' '
                  + reserva.apellido : 'Usuario no encontrado' %>
                </h3>
              </div>
            </div>

            <div class="col-12 col-lg-3 p-0">
              <div class="h-100 d-flex align-items-center">
                <span
                  title="Esta reserva fue <%= reserva.estado_reserva %> "
                  class="<%= reserva.estado_reserva === 'Pendiente' ? 'neutralAlert-primary' : (reserva.estado_reserva === 'Rechazada' ? 'errorAlert-primary' : (reserva.estado_reserva === 'Cancelada' ? 'errorAlert-primary' : 'successAlert-primary')) %>">
                  <%= reserva.estado_reserva %>
                </span>
              </div>
            </div>
          </div>
          <% }); %> <% } else { %>
          <div
            class="col-12 d-flex justify-content-center flex-column align-items-center mt-5">
            <p class="text-center d-flex rem-2 opacity-25">
              No hay reservas disponibles para mostrar...
            </p>
            <i class="material-icons rem-10 mt-4 opacity-25">
              pending_actions
            </i>
          </div>
          <% } %>
        </div>
      </main>
    </div>

    <!-- Enlaces de scripts -->
    <%- include('../templates/scripts') %>
    <script>
      // Recargar la página cada 3 segundos
      setInterval(function () {
        location.reload();
      }, 3000);
    </script>
  </body>
</html>
