<!-- crudStaffModal.ejs -->
<div id="dialog-overlay" class="h-90 pt-5">
  <div
    id="dialog-box"
    class="m-5 container-fluid w-40 d-flex flex-column d-lg-flex justify-content-center align-items-center media-lg-w-100 border-primary">
    <div class="w-100">
      <form
        id="modificarEmpleadoForm"
        action="/admin/staff/update/<%= empleado.id_empleado %>"
        method="post"
        class="w-100 d-flex justify-content-center flex-column align-items-center">
        <!-- Campo para el ID del empleado -->
        <input
          type="hidden"
          name="id_empleado"
          id="id_empleado_modificar"
          value="<%= empleado.id_empleado %>" />

        <div class="row d-flex justify-content-center">
          <h1 class="text-center rem-2-2 weight-700">Modificar información</h1>
        </div>

        <div class="row mt-4 w-100">
          <!-- Campos para el nombre, identificación, correo y teléfono del empleado -->
          <input
            class="w-100 input-primary"
            placeholder="Nombre"
            type="text"
            id="nombre_modificar"
            name="nombre"
            value="<%= empleado.nombre %>"
            required />
          <input
            type="text"
            id="identificacion_modificar"
            name="identificacion"
            class="w-100 input-primary mt-3"
            placeholder="Identificación"
            value="<%= empleado.identificacion %>"
            required />
          <input
            type="text"
            id="correo_modificar"
            name="correo"
            value="<%= empleado.correo %>"
            class="w-100 input-primary mt-3"
            placeholder="Correo eléctronico"
            required />
          <input
            type="text"
            id="telefono_modificar"
            name="telefono"
            value="<%= empleado.telefono %>"
            class="w-100 input-primary mt-3"
            placeholder="Teléfono"
            required />
        </div>

        <!-- Selector para el estado -->
        <div class="row mt-3 w-100 h-100">
          <div class="col-6 p-0 pe-3 h-100">
            <select
              id="rol_modificar"
              name="rol"
              class="w-100 input-primary h-100"
              required>
              <!-- Opciones para el rol del empleado -->
              <option value="Gerente">Gerente</option>
              <option value="Atención al cliente">Atención al Cliente</option>
              <option value="Técnico de limpieza de autos">
                Técnico de Limpieza de autos
              </option>
              <option value="Mantenimiento">Mantenimiento</option>
              <option value="Marketing y ventas">Marketing y ventas</option>
              <option value="Contador">Contador</option>
            </select>
          </div>
          <div class="col-6 p-0 h-100">
            <select
              name="estado"
              id="estado_modificar"
              class="input-primary w-100 h-100">
              <!-- Opciones para el estado del empleado -->
              <option value="Activo">Activo</option>
              <option value="Inactivo">Inactivo</option>
            </select>
          </div>
        </div>

        <!-- Botones para cancelar y guardar cambios -->

        <div class="row mt-5 w-100 d-flex justify-content-end">
          <div class="col-6 col-lg-3 col-md-4 p-0 pe-3">
            <button
              title="Cancelar cambios"
              class="button-danger-primary w-100 p-2 d-flex align-items-center justify-content-center"
              onclick="cerrarAviso()"
              type="button">
              <i class="material-icons me-1"> block </i>
              Cancelar
            </button>
          </div>
          <div class="col-6 col-lg-3 col-md-4 p-0">
            <button
              type="submit"
              onclick="guardarCambios()"
              title="Guardar cambios"
              class="button-primary w-100 w-100 p-2 d-flex align-items-center justify-content-center">
              <i class="material-icons me-1"> save </i>
              Guardar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
