<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reservas / CarWashMetro</title>
    <meta name="robots" content="index, follow" />
    <link rel="icon" href="/img/logo-main-carwashmetro.png" type="image/png" />
    <meta
      name="description"
      content="Aquí puedes ver toda tu información personal" />

    <!-- Links CSS -->
    <%- include('../templates/styles') %>
  </head>

  <body class="vh-100">
    <div class="container-fluid p-0 m-0 d-flex flex-column h-100">
      <!-- El estilo "display: flex; flex-direction: column; height: 100%;" establece el contenedor padre como flexbox con dirección de columna y altura del 100% -->
      <%- include(__dirname + '/../views/templates/headeruser') %>

      <!-- contenedor principal -->

      <main
        class="container-fluid p-5 gap-6 w-75 d-flex flex-column justify-content-center align-items-center media-sm-w-100"
        style="flex: 1">
        <!-- contenedor principal de historial de reservas pendientes -->

        <div class="container-fluid p-0">
          <% if (historialReservasPendientes &&
          historialReservasPendientes.length > 0) { %>

          <!-- Titulo principal -->

          <div class="row mb-5">
            <h2 class="text-center rem-2-2 weight-700 opacity-75">
              Reservas pendientes
            </h2>
          </div>

          <% historialReservasPendientes.forEach(reserva => { %>

          <!-- Fila con la información de la reserva -->

          <div
            class="row container-secondary border-primary p-4 mt-4 flex-column flex-lg-row gap-4 gap-lg-0">
            <!-- Contenedor con información fecha y hora de reserva -->

            <div class="col-12 col-lg-3 p-0 d-flex align-items-center">
              <div>
                <div
                  title="Fecha y hora en la que se hizo la reserva"
                  class="d-flex align-items-center">
                  <div class="icon-container">
                    <i class="material-icons"> watch_later </i>
                  </div>
                  <h3 class="ms-3 opacity-75 font-secondary">
                    <%= formatDateTime(reserva.fecha_reserva) %>
                  </h3>
                </div>
              </div>
            </div>

            <!-- Contenedor con información de tipo de vehículo  -->

            <div class="col-12 col-lg-3 p-0 d-flex align-items-center">
              <div class="d-flex align-items-center">
                <div
                  title="Tipo de vehículo con el que se hizo la reserva"
                  class="icon-container">
                  <% if (reserva.tipo_vehiculo === 'Carro') { %>
                  <i class="material-icons">directions_car</i>
                  <% } else if (reserva.tipo_vehiculo === 'Moto') { %>
                  <i class="material-icons">two_wheeler</i>
                  <% } else { %>
                  <i class="material-icons">airport_shuttle</i>
                  <% } %>
                </div>
                <h3
                  title="Placa del vehículo"
                  class="ms-3 opacity-75 font-secondary">
                  <%= reserva.placa_vehiculo %>
                </h3>
              </div>
            </div>

            <!-- Contenedor con información de celda -->

            <div class="col-12 col-lg-3 p-0 d-flex align-items-center">
              <div
                title="Número de celda asignada"
                class="d-flex align-items-center">
                <div class="icon-container">
                  <i class="material-icons"> warehouse </i>
                </div>
                <h3 class="ms-3 opacity-75 font-secondary">
                  #<%= reserva.id_celda %>
                </h3>
              </div>
            </div>

            <!-- Contenedor con información de estado de la reserva -->

            <div class="col-12 col-lg-3 p-0 d-flex align-items-center">
              <!-- Contenedor con el estado de la celda -->

              <div class="w-100 d-flex">
                <div class="w-50">
                  <span
                    title="Esta reserva se encuentra <%= reserva.estado_reserva %> de ser rechazada, cancelada o aceptada"
                    class="w-100 h-100 d-flex align-items-center <%= reserva.estado_reserva === 'Pendiente' ? 'neutralAlert-primary' : (reserva.estado_reserva === 'Rechazada' ? 'errorAlert-primary' : 'successAlert-primary') %>">
                    <%= reserva.estado_reserva %>
                  </span>
                </div>

                <!-- Contenedor con el boton para cancelar la reserva -->

                <div class="w-50 ms-4">
                  <% if (reserva.estado_reserva === 'Pendiente') { %>
                  <form
                    action="/user/reservas/cancelarReserva/<%= reserva.id_reserva %>"
                    method="post">
                    <button
                      title="Cancelar esta reserva"
                      type="submit"
                      class="button-danger-primary w-100 p-2 d-flex align-items-center justify-content-center">
                      <i class="material-icons me-1"> delete_forever </i>
                      Cancelar
                    </button>
                  </form>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
          <% }); %> <% } else { %>
          <!-- Codigo con diseño en caso de que no hayan reservas pendientes registradas -->
          <div
            class="col-12 d-flex justify-content-center flex-column align-items-center">
            <div class="row mb-5">
              <h2 class="text-center rem-2-2 weight-700 opacity-75">
                Reservas Pendientes
              </h2>
            </div>
            <p class="text-center d-flex rem-2 opacity-25">
              No tienes reservas pendientes en este momento...
            </p>
            <i class="material-icons rem-10 mt-4 opacity-25"> check_circle </i>
          </div>

          <% } %> <% if (historialReservasOtros && historialReservasOtros.length
          > 0) { %>
        </div>

        <!-- contenedor principal de historial de reservas -->

        <div class="container-fluid p-0">
          <div class="row mb-5">
            <h2 class="text-center rem-2-2 weight-700 opacity-75">
              Historial de tus reservas
            </h2>
          </div>

          <% historialReservasOtros.forEach(reserva => { %>
          <div
            class="row container-secondary border-primary p-4 mt-4 flex-column flex-lg-row gap-4 gap-lg-0">
            <div class="col-12 col-lg-3 p-0">
              <div>
                <div
                  title="Fecha y hora en la que se hizo la reserva"
                  class="d-flex align-items-center">
                  <div class="icon-container">
                    <i class="material-icons"> watch_later </i>
                  </div>
                  <h3 class="ms-3 opacity-75 font-secondary">
                    <%= formatDateTime(reserva.fecha_reserva) %>
                  </h3>
                </div>
              </div>
            </div>

            <div class="col-12 col-lg-3 p-0">
              <div class="d-flex align-items-center">
                <div
                  title="Tipo de vehículo con el que se hizo la reserva"
                  class="icon-container">
                  <% if (reserva.tipo_vehiculo === 'Carro') { %>
                  <i class="material-icons">directions_car</i>
                  <% } else if (reserva.tipo_vehiculo === 'Moto') { %>
                  <i class="material-icons">two_wheeler</i>
                  <% } else { %>
                  <i class="material-icons">airport_shuttle</i>
                  <% } %>
                </div>
                <h3
                  title="Placa del vehículo"
                  class="ms-3 opacity-75 font-secondary">
                  <%= reserva.placa_vehiculo %>
                </h3>
              </div>
            </div>

            <div class="col-12 col-lg-3 p-0">
              <div
                title="Número de celda asignada"
                class="d-flex align-items-center">
                <div class="icon-container">
                  <i class="material-icons"> warehouse </i>
                </div>
                <h3 class="ms-3 opacity-75 font-secondary">
                  #<%= reserva.id_celda %>
                </h3>
              </div>
            </div>

            <div class="col-12 col-lg-3 p-0">
              <div class="h-100 d-flex align-items-center">
                <span
                  title="Esta reserva fue <%= reserva.estado_reserva %>"
                  class="<%= reserva.estado_reserva === 'Pendiente' ? 'neutralAlert-primary' : (reserva.estado_reserva === 'Rechazada' ? 'errorAlert-primary' : (reserva.estado_reserva === 'Cancelada' ? 'errorAlert-primary' : 'successAlert-primary')) %>">
                  <%= reserva.estado_reserva %>
                </span>
              </div>
            </div>
          </div>
          <% }); %> <% } else { %>
          <div
            class="col-12 d-flex justify-content-center flex-column align-items-center mt-5">
            <div class="row mb-5">
              <h2 class="text-center rem-2-2 weight-700 opacity-75">
                Historial de reservas
              </h2>
            </div>
            <p class="text-center d-flex rem-2 opacity-25">
              No tienes reservas concretadas en tu historial...
            </p>
            <i class="material-icons rem-10 mt-4 opacity-25">
              pending_actions
            </i>
          </div>
          <% } %>
        </div>
      </main>
    </div>

    <!-- Enlaces de scripts -->
    <%- include('../templates/scripts') %>
    <script>
      // Recargar la página cada 12 segundos
      setInterval(function () {
        location.reload();
      }, 3000);
    </script>
  </body>
</html>
